*{
	padding: 0px;
	margin: 0px;
}
/*.mainheader{
	color: blue;
	background: rgb(0, 0 , 12);
	overflow:hidden;
	position:-webkit-sticky;
	position: sticky;
	top : 0px;
}
.header1{
	float: left;
	width: 60%;
	box-sizing: border-box;
	padding: 20px;
	position: relative;
}

/*.header1 h1{
	padding: 20px;
}*/

/*#header2{

	float: left;
	height:100%;
	width: 40%;
	padding: 20px;
	box-sizing: border-box;
}

.cont{
	padding-left: 50px;
}
.container{
	padding: 0 20px;
}
.container a{
	padding: 10px;
}
.clr{
	clear:both;
}

.container{
	width:80%;
	margin:auto;
}*/

body{
	background: #f4f4f4;
}

.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.clr{
	clear:both;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a:hover{
	background: #283593;
	color: #000;
	text-decoration: underline;
	text-decoration-color: black;
}
.ghostButton a:hover{
	background: #283593;
	color: #000;
	text-decoration: underline;
	text-decoration-color: black;
}

.ghostButton a{
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: #283593;
	border: 1px solid #283593;
	border-radius: 5px;
	padding: 10px;
	margin-top: 50px ;
	
	/*top: 50%;
	right: 46%;*/
}

/*Header*/
header{
	background: black;
	color: white;
	min-height: 60px;
	padding: 20px 0;
	position: sticky;
}

header a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	color: white;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;

}

header #branding{
	float:left;
	width: 40%;
    text-align: center;
    padding: 0 0 0 20px;
    text-shadow: 3px 3px gray;

}

header #branding h1{
	font-weight: normal;
    font-family: serif;
    letter-spacing: 0.15em;
    font-style: italic;
}

header nav{
	float: right;
	padding-top : 13px;
}
/*intro*/
.intro{
	background-image: url(../image/sample1.jpeg);
	min-height: 500px;
	margin: auto;
	text-align: center;
}

.intro h1{
	text-transform: uppercase;
	font-size: 80px;
	color: white;
}



/*aboutUs*/
#aboutUs
{
	text-align: center;
	padding: 40px;
}

#aboutUs h1{
	font-size: 50px;
	margin-bottom: 40px;
}

#aboutUs p{
	line-height: 2.0em;
}

/*boxes*/

#boxes{
  padding: 60px;
  line-height: 2em;
}

#boxes .box{
  float:left;
  text-align: center;
  width:33.33%;
  padding:10px;
  box-sizing: border-box;
}

#boxes h1{
	font-weight: normal;
	font-family: serif;
	margin-bottom: 30px;
	margin-top: 5px;
}
 
/*projects*/
#projects {
	text-align: center;
	padding: 30px, 0;
}

.project img{
	height: 100%;
	width:100%;
}
.project{
	float: left;
	display: block;
	width: 25%;
	overflow: hidden;
	box-sizing: border-box;
}

/*picture*/
#pic img{
	height: 100%;
	width: 100%;
	margin: auto;
	text-align: center;
}

/*blog*/
#blog{
	padding: 30px;
	text-align: center;
}

#blog .block{
	float: left;
	overflow: hidden;
	text-align: center;
	padding: 0 30px;
	width:33.33%;
	box-sizing: border-box;
}

#blog h1{
	font-size: 50px;
	font-family: serif;
	font-weight: normal;
	color: #010010;
	margin-bottom: 50px;
	margin-bottom: 20px; 
}

#blog h3{
	font-family: serif;
	font-weight: normal;
	margin-bottom: 20px;
}

.block img{
	height: 183px;
	margin-bottom: 20px; 
	overflow: hidden;
}

.block li{
	display: inline;
	padding: 5px;
}

.block p{
	margin-top: 20px;
}


footer{
	background: black;
	color: white;
	padding: 40px 0;
}


footer .copyright{
	float: left;
	width: 50%;
	padding: 0 30px;
	box-sizing: border-box;
}

footer h3{

	font-weight: normal;
	font-family: serif;
}

footer li{
	text-align: right;
	padding: 5px 0;
}

/*Responsive*/
@media(max-width: 700px){
  header #branding,
  header nav,
  header nav li,
  #boxes .box,
  #projects .project,
  #blog .block,
  footer .copyright{
    float:none;
    text-align:center;
    width:100%;
  }
  header li{
  	display: list-item;
  	padding: 0;
  }
  header #branding{
  	padding: 0;
  }
  .intro h1{
  	font-size: 20px;
  }

  #boxes .box{
  	margin-bottom: 5px;
  }

  #projects .project{
  	margin-bottom: 15px;
  }

  #blog .block{
  	margin-bottom: 15px;
  }

  footer li{
  	text-align: center;
  }

}